<p>Books works!</p>
<h2>
    Inside the Books component
</h2>
<h1>
    my name is {{ myName }}
</h1>
<ul *ngIf="isShowing">

    <li>
        <img [src]="src" alt="{{ name }}" />
        {{ name }} by {{ author }}
    </li>
    <li>
        <img [src]="src" alt="{{ name }}" />
        {{ name }} by {{ author }}
    </li>
</ul>

<button [disabled]="isDisable" (click)="handleClick()">
    button

</button>
<button (click)="toggleBook()">
    {{ isShowing ? 'Hide Book' : 'Show Book' }}
</button>
<input type="text" [(ngModel)]="myName" />

<button (click)="toggleDiv()">
    {{isVisible?"hide ":"show"}}
</button>
<div style="color: blue; " *ngIf="isVisible">
    hi from i am
</div>

<ul *ngIf="true" class="books">

    <ng-container *ngFor="let singleBook of books; let i=index">
        <app-book (bookEmit)="addTocart($event)" [singleBook]="singleBook">
         
        </app-book>
    </ng-container>
</ul>
